@font-face {
    font-family: "NDAstroneer";
    src: url("../fonts/17885.eot"); /* IE9 Compat Modes */
    src: url("../fonts/17885.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/17885.otf") format("opentype"), /* Open Type Font */
      url("../fonts/17885.svg") format("svg"), /* Legacy iOS */
      url("../fonts/17885.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/17885.woff") format("woff"), /* Modern Browsers */
      url("../fonts/17885.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
body
{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden;
    background: url(../images/img.jpg);
}
.logo img
{
    height: 296px;
    width: 296px;
    margin-left: -1.05em;
    margin-top: 0.5em;
}
.text
{
    font-size: 22pt;
    font: 22pt Courier New;  
    font-weight: bold;
    margin-left: -0.1rem;
    margin-top:  0rem;
}
.intro-and-nav {
    text-align: center;
    width: 16rem;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    border-right: 3px solid;
}
.pattern [aria-current] {
    background-color: #111;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 0% 100%);
    color: #fefefe;
    height: 2.2rem;
    width: 15.66rem;
    margin-left: -2.15rem;

 }
.pattern [aria-non]
{
    color: black;
    height: 2rem;
    width: 15.5rem;
    margin-left: -2.15rem;
}   
 .pattern a {
    display: block;  
    border: 0;
    align-items: baseline;
    font-weight: bold;
    padding: 0rem 0;
    text-decoration: none;
}
.pattern{
    margin-top: 2rem;
    list-style-type: none;
    list-style: none;
}
.patterns-list{
    margin-top: 1rem;
    list-style: none;
    margin-left: 0;
}

.main{
    text-align: center;
    font: 22pt Courier New;  
    font-weight: bold;
    margin-left: 15rem;
    margin-top: 16rem;
}
.main a{
    font: 24pt Comic Sans MS, serif;     
}

.article
{ 
    height: 20rem;
    width: 20rem;
    background-image: url(../images/img2.png);
    top: 0px; 
    left: 235px;
    -webkit-border-radius: 20px;   
    border: 5px solid;
    border-color: black ;
    margin-top: 15px;
    margin-left: 236px;
    list-style-type: none;
    list-style: none;   
    
}
.txt p
{
   
   font-family: 'NDAstroneer';
   font-size: 18pt;
   font-weight: bold;
   text-align: center;
   margin-left: 0rem;
   margin-top: 1rem;
}
.art img
{   
    height: 190px;
    margin-top: 0.6rem;
    margin-left: 0.7rem;
}
#patterns-list2
{
    margin-top: 0rem;
    margin-left: 0rem;
    list-style: none;
}


